.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;

  h1 {
    font-size: 1.5rem;
  }

  p {
    color: var(--color-mid);
    font-size: 0.9rem;
    padding: 0;
  }
}
