{
	"extends": "stylelint-config-standard",
	"plugins": ["stylelint-prettier"],
	"rules": {
		"at-rule-no-unknown": null,
		"custom-property-pattern": [
			"^([a-z][a-z0-9]*)(-[a-z0-9]+)*$|^([0-9]*px)$",
			{
				"message": "Expected custom property name to be kebab-case"
			}
		],
		"function-no-unknown": null,
		"import-notation": null,
		"no-descending-specificity": null,
		"prettier/prettier": true,
		"selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
		"selector-pseudo-class-no-unknown": [
			true,
			{
				"ignorePseudoClasses": ["global"]
			}
		]
	},
	"customSyntax": "postcss-scss"
}
