.root {
  background-color: var(--color-light);
  border: 1px solid var(--color-mid-glare);
  border-radius: 8px;
  box-shadow:
    2px 2px 2px rgba(0 0 0 / 5%),
    6px 6px 8px rgba(0 0 0 / 25%);
  height: 100%;
  max-height: 410px;
  position: absolute;
  right: -150%;
  width: 140%;
  z-index: 2;

  &::before {
    background-color: var(--color-light);
    border: 1px solid transparent;
    border-left-color: #bbbfbf;
    border-top-color: #bbbfbf;
    content: "";
    height: 10px;
    left: -6px;
    position: absolute;
    top: 64px;
    transform: rotate(-45deg);
    width: 10px;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 12px;
  }
}

.popupOnTheLeft {
  left: -150%;

  &::before {
    left: unset;
    right: -6px;
    transform: rotate(135deg);
  }
}

.title {
  line-height: 1.1;
}

.subtitle {
  line-height: 1.2;
}

.authors {
  font-size: 0.8rem;
  line-height: 1.2;
}

.meta {
  border-bottom: 1px solid var(--color-mid-glare);
  color: var(--color-mid);
  font-size: 0.7rem;
  line-height: 1.2;
  padding-bottom: 4px;
}

.description {
  -webkit-box-orient: vertical;
  color: var(--color-mid);
  display: -webkit-box;
  font-size: 0.8rem;
  -webkit-line-clamp: 14;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}
