.root {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  margin: 0 auto;
  padding: 2rem 0;
  width: var(--wrapper-width);
}

.sidebar {
  a {
    font-family: var(--font-special);
    font-size: 1.8rem;
    font-weight: 400;
  }
}
