.root {
  display: flex;
  gap: 12px;
}

.button {
  border: 1px solid transparent;
  color: rgba(0 0 0 / 40%);
  font-family: var(--font-special);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 6px;
  text-transform: uppercase;

  &[aria-pressed="true"] {
    color: var(--color-dark);
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}
