.root {
  display: flex;
  gap: 24px;
}

.option {
  &:first-child {
    padding-left: 6px;
  }
}

.link {
  color: rgba(0 0 0 / 40%);
  font-family: var(--font-special);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  &[aria-selected="true"] {
    color: var(--color-dark);
  }
}
