.list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.link {
  color: var(--color-mid);
  font-family: var(--font-special);
  font-size: 1.8rem;
  font-weight: 600;

  &[aria-selected="true"] {
    color: var(--color-primary);
  }
}
