.root {
	height: 24px;
	width: 24px;

	[role="img"] {
		aspect-ratio: 1;
		background-color: var(--color-mid);
		height: 16px;
		width: 16px;
	}

	&[data-role="prev"],
	&[data-role="next"] {
		[role="img"] {
			height: 12px;
			width: 12px;
		}
	}

	&[data-role="prev"] {
		transform: rotate(-180deg);
	}

	&[data-role="last"] {
		transform: rotate(180deg);
	}
}
