.body {
	background: var(--color-light);
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
	font-family: var(--font-plain);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	padding-bottom: 48px;
}
