@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-condensed: "Roboto Condensed", sans-serif;

  --color-orange: #f17f5a;
}

@layer base {
  section {
    @apply flex w-full flex-col items-center py-16;
    min-height: 100svh;
  }

  section > div {
    @apply flex w-300 flex-col pt-12;
  }

  h1 {
    @apply font-condensed flex items-center gap-4 text-4xl font-semibold uppercase before:text-2xl before:content-["◯"];
  }

  h2 {
    @apply font-condensed text-3xl font-bold;
  }

  dt {
    @apply font-bold;
  }
}
