@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-condensed: "Roboto Condensed", sans-serif;

  --color-orange: #f17f5a;
}

@layer base {
  section {
    @apply flex w-full flex-col items-center lg:min-h-svh;
  }

  footer > div,
  section > div {
    @apply flex w-full flex-col px-2 md:px-4 lg:w-300 lg:px-0;
  }

  h1 {
    @apply font-condensed text-4xl font-semibold uppercase before:text-2xl md:flex md:items-center md:gap-4 md:before:content-["◯"];
  }

  h2 {
    @apply font-condensed text-3xl font-bold;
  }

  dt {
    @apply text-gray-400;
  }

  p {
    @apply text-pretty;
  }

  a[name] {
    @apply block h-24;
  }
}
