.root {
  border-bottom: 1px solid rgba(0 0 0 / 10%);
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  width: var(--wrapper-width);

  &::after {
    border-bottom: 1px solid rgba(0 0 0 / 10%);
    bottom: 1px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
  }
}
