.root {
	mask-position: center;
	mask-repeat: no-repeat;
}

.iconArrow {
	mask-image: var(--icon-arrow);
}

.iconGrid {
	mask-image: var(--icon-grid);
}

.iconList {
	mask-image: var(--icon-list);
}

.iconStarEmpty {
	mask-image: var(--icon-star-empty);
}

.iconStarFilled {
	mask-image: var(--icon-star-filled);
}

.iconStarHalf {
	mask-image: var(--icon-star-half);
}

.iconStep {
	mask-image: var(--icon-step);
}

.iconXMark {
	mask-image: var(--icon-xmark);
}
