---
import ContactButton from "./ContactButton.astro";
---

<a name="about"></a>
<section class="mb-24">
  <div class="gap-12">
    <h1>About</h1>
    <div class="flex flex-col gap-4 md:gap-12 md:text-2xl lg:flex-row">
      <p class="lg:flex-1">
        I’m a product-oriented software engineer specializing in React,
        TypeScript, and Node.js, with a strong focus on building clean, scalable
        web applications. I care deeply about user experience and design, and I
        enjoy turning complex problems into intuitive, high-quality interfaces
        that feel great to use.
      </p>
      <p class="lg:flex-1">
        Over the past ten years, I’ve worked in the trading and financial
        sector, developing internal, front-office, and market-facing tools in
        fast-paced environments. I’m passionate about engineering best
        practices, especially software testing and maintainable architecture,
        and I’m always looking for opportunities to build reliable products that
        deliver real impact.
      </p>
    </div>
    <div class="mt-12">
      <h2>Skills</h2>
      <ul class="mt-4 gap-4 space-y-2 md:columns-2 md:text-lg lg:columns-3">
        <li class="text-xl font-bold">React, Next.js, Angular, TypeScript</li>
        <li>Hooks, Redux, Zustand, RxJS, React Query</li>
        <li>AG Grid, D3, ArcGIS, Electron</li>
        <li class="text-xl font-bold">Tailwind CSS, CSS Modules</li>
        <li>Material UI, Chakra UI</li>
        <li class="text-xl font-bold">Vitest, React Testing Library</li>
        <li>Playwright, Cypress</li>
        <li>Express, Koa, GraphQL</li>
        <li>Knex, TypeORM, Prisma</li>
        <li>DynamoDB, SQLite, OpenSearch</li>
        <li>AWS SDK, Lambda, S3</li>
        <li>esbuild, webpack</li>
        <li>TurboRepo, Nx</li>
        <li>GitHub Actions, TeamCity, Jenkins</li>
        <li>Ansible, Terraform</li>
        <li>neovim, docker, git, bash</li>
      </ul>
    </div>
    <div class="flex justify-center pt-12"><ContactButton /></div>
  </div>
</section>
