---
import { ArrowRight } from "@lucide/astro";

import { SITE_CONFIG } from "../lib/constants";

interface Props {
  variant?: "circular" | "rectangular";
  class?: string;
}

const { variant = "circular", class: className } = Astro.props;
---

<a
  class:list={[
    "flex items-center justify-center text-sm font-bold uppercase",
    variant === "circular"
      ? "bg-orange hover:bg-orange/90 aspect-square w-36 rounded-full text-white"
      : "hover:bg-orange hover:border-orange gap-2 rounded-sm border border-[#e0e0e0] px-4 py-2 hover:text-white",
    className,
  ]}
  href={`mailto:${SITE_CONFIG.email}`}
>
  {
    variant === "circular" ? (
      "Let's chat"
    ) : (
      <>
        Contact <ArrowRight size={16} />
      </>
    )
  }
</a>
