---
import { ArrowRight } from "@lucide/astro";
import { SITE_CONFIG } from "../lib/constants";

const navLinks = [
  { href: "#home", label: "Home" },
  // { href: "#projects", label: "Projects" },
  { href: "#experience", label: "Experience" },
  { href: "#about", label: "About" },
];
---

<nav class="fixed flex w-full items-center justify-center bg-white">
  <div class="flex h-20 w-300 items-center justify-between">
    <a href="/">
      <p class="font-condensed text-xl uppercase">
        <span class="font-black">Rui</span> Costa
      </p>
    </a>
    <ul class="flex items-center gap-12">
      {
        navLinks.map((link) => (
          <li>
            <a class="hover:text-orange" href={link.href}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      class="hover:bg-orange flex items-center gap-2 rounded-sm border border-[#e0e0e0] px-4 py-2 hover:text-white"
      href={`mailto:${SITE_CONFIG.email}`}>Contact <ArrowRight size={16} /></a
    >
  </div>
</nav>
