h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-special);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
