:root {
  --color-dark: #252525;
  --color-light: #f9f9f9;
  --color-mid: #666;
  --color-mid-glare: #b3b3b3;
  --color-primary: steelblue;
  --color-primary-shade: #1c3448;
  --color-primary-glare: #a1c1db;
  // fonts
  --font-plain: "helvetica neue", helvetica, arial, sans-serif;
  --font-serif: georgia, serif;
  --font-special: var(--font-barlow-condensed), "helvetica neue", helvetica,
    sans-serif;
  --font-mono: menlo, courier, "courier new", "andale mono", monospace;
  // layout
  --wrapper-width: clamp(16rem, 93vw, 85rem);
}
