---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="m-0 h-full w-full">
    <slot />
  </body>
</html>
