.root {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.spinner {
	animation: rotation 1s linear infinite;
	border: 5px solid var(--color-mid);
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 48px;
	width: 48px;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
